body{
  background-color: gray;
}
img {
  border-radius: 50%;
}

table{
  border: 1px solid black;
  text-align:center;
  border-collapse: collapse;
}
th td{
  padding: 15px;
  border: 1px solid black;
}
tr:nth-child(1) {
 background-color: green;
}
