#center{
text-align: center;
font-size:30px;
}
#AzizaPic{

}
#myName{
  text-align: center;
}
img {
  border-radius: 50%;
  width:200px;
  height:300px;
}
table{
  width: 100%;
}
table, td {
  border: 1px solid black;
  text-align:center;
  border-collapse: collapse;
}
td{
  padding: 15px;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
 background-color: green;
}
