
body{
  background-color: yellow;

}
.title{
  font-size: 25px;
  font-style:"sans-serif";
  font-family: "cursive";
  font-weight:"bold";
  font-style: italic;
  color: Green;
}
#name{
  text-align: center;
}
strong{
  color:blue;
  font-style:Arial;
}

#part2{
  font-style: italic;
}
