h1{
    font-size: "32pt" ;
    font-style: bold;
    text-align: center ;
}
body{
    background-color: #CCCCFF;
    font-size: 14pt;

}
textarea{
    width: "90%";
    height: "400px";
    font-size: "12pt";
    font-style: bold;
    margin-left: auto;
    margin-right:auto;
    display:block;

}
.column{
    column-count: 4;

}
